@font-face {
    font-family: 'SpecialElite-Regular';
    src: url('../SpecialElite-Regular.ttf');
}
html {
    height: 100%;
}

.bg {
    background-image: url('../bg_image.jpg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin:0;
    padding:0;
    font-family:SpecialElite-Regular;
    --bs-body-bg: transparent;
}

a {
    text-decoration:none;
    color: black;
}

p {
    color: #000000;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid black;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin: 30px 0 15px 0;
}

#content {
    margin: 40px;
    width:100%;
    padding:0 0 0 30px;
}
#sidebar {
    margin: 10px 40px 40px;
    padding: 10px 30px 30px;
    text-align: center;
}

p.date {
    font-size: 12px;
    border-bottom: 1px solid #b6b6b8;;
}

.pagination {
    margin:40px 0;
    font-weight:bold;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear: both;
    float: inherit;
    background: center;
    border: 0;
}

input[type=submit] {
    font-weight:bold;
    color: black;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

.comment {
    padding:10px;
}

.comment .info {
    font-weight:bold;
    font-size:12px;
}

.bottom {
    color: #b6b6b8;
}

input[type=submit].submit_button {
    padding: 15px;
    background: url('../submit_icon.png');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text].search_box {
    width: 100% ;
    text-align: center ;
}
