@font-face {
    font-family: 'SpecialElite-Regular';
    src: url('../SpecialElite-Regular.ttf');
}
html {
    background:#9b9b9b;
}
body {
    margin:0;
    padding:0;
    font-family:SpecialElite-Regular;
    background:#9b9b9b;
}

a {
    text-decoration:none;
    color: black;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid black;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
}

#content {
    margin: 40px;
    width:100%;
    padding:0 0 0 30px;
}
#sidebar {
    margin: 40px;
    padding: 30px;
    text-align: center;
}

p.date {
    font-size: 12px;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear: both;
    float: inherit;
    background: center;
    border: 0;
}

input[type=submit] {
    font-weight:bold;
    color: black;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}