<!DOCTYPE html>
{% load static %}
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div id="content">
                {% block content%}
                {% endblock content%}
            </div>
        </div>
        <div class="col-4">
            <div id="sidebar">
                {% block sidebar%}
                <a href="{% url 'blog:post_list' %}"><h2>My blog</h2></a>
                <p>Counterintuitive happens... Never mind :)</p>
                {% endblock sidebar%}
            </div>
        </div>
    </div>
</div>
</body>
</html>